WcfClient/Connected Services/TeapotServiceReference/TeapotService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfTest.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfTest.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Teapot">
    <xs:sequence>
      <xs:element minOccurs="0" name="Capacity" type="xs:double" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImgUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ManufacturerCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WarrantyInMonths" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Teapot" nillable="true" type="tns:Teapot" />
  <xs:complexType name="ArrayOfTeapot">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Teapot" nillable="true" type="tns:Teapot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTeapot" nillable="true" type="tns:ArrayOfTeapot" />
</xs:schema>