WcfClient/Connected Services/TeapotServiceReference/TeapotService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TeapotService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50371/Services/TeapotService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50371/Services/TeapotService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50371/Services/TeapotService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTest.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITeapotService_AddTeapot_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTeapot" />
  </wsdl:message>
  <wsdl:message name="ITeapotService_AddTeapot_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTeapotResponse" />
  </wsdl:message>
  <wsdl:message name="ITeapotService_DeleteTeapotById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeapotById" />
  </wsdl:message>
  <wsdl:message name="ITeapotService_DeleteTeapotById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTeapotByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITeapotService_GetTeapots_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeapots" />
  </wsdl:message>
  <wsdl:message name="ITeapotService_GetTeapots_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeapotsResponse" />
  </wsdl:message>
  <wsdl:message name="ITeapotService_GetTeapotById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeapotById" />
  </wsdl:message>
  <wsdl:message name="ITeapotService_GetTeapotById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeapotByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITeapotService_EditTeapot_InputMessage">
    <wsdl:part name="parameters" element="tns:EditTeapot" />
  </wsdl:message>
  <wsdl:message name="ITeapotService_EditTeapot_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditTeapotResponse" />
  </wsdl:message>
  <wsdl:portType name="ITeapotService">
    <wsdl:operation name="AddTeapot">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeapotService/AddTeapot" message="tns:ITeapotService_AddTeapot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeapotService/AddTeapotResponse" message="tns:ITeapotService_AddTeapot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTeapotById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeapotService/DeleteTeapotById" message="tns:ITeapotService_DeleteTeapotById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeapotService/DeleteTeapotByIdResponse" message="tns:ITeapotService_DeleteTeapotById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeapots">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeapotService/GetTeapots" message="tns:ITeapotService_GetTeapots_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeapotService/GetTeapotsResponse" message="tns:ITeapotService_GetTeapots_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeapotById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeapotService/GetTeapotById" message="tns:ITeapotService_GetTeapotById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeapotService/GetTeapotByIdResponse" message="tns:ITeapotService_GetTeapotById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditTeapot">
      <wsdl:input wsaw:Action="http://tempuri.org/ITeapotService/EditTeapot" message="tns:ITeapotService_EditTeapot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITeapotService/EditTeapotResponse" message="tns:ITeapotService_EditTeapot_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITeapotService" type="tns:ITeapotService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddTeapot">
      <soap:operation soapAction="http://tempuri.org/ITeapotService/AddTeapot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTeapotById">
      <soap:operation soapAction="http://tempuri.org/ITeapotService/DeleteTeapotById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeapots">
      <soap:operation soapAction="http://tempuri.org/ITeapotService/GetTeapots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeapotById">
      <soap:operation soapAction="http://tempuri.org/ITeapotService/GetTeapotById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditTeapot">
      <soap:operation soapAction="http://tempuri.org/ITeapotService/EditTeapot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TeapotService">
    <wsdl:port name="BasicHttpBinding_ITeapotService" binding="tns:BasicHttpBinding_ITeapotService">
      <soap:address location="http://localhost:50371/Services/TeapotService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>