WcfClient/Connected Services/TeapotServiceReference/TeapotService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50371/Services/TeapotService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTest.Models" />
  <xs:element name="AddTeapot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfTest.Models" minOccurs="0" name="newTeapot" nillable="true" type="q1:Teapot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeapotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddTeapotResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeapotById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTeapotByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteTeapotByIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeapots">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeapotsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfTest.Models" minOccurs="0" name="GetTeapotsResult" nillable="true" type="q2:ArrayOfTeapot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeapotById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeapotByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfTest.Models" minOccurs="0" name="GetTeapotByIdResult" nillable="true" type="q3:Teapot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTeapot">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfTest.Models" minOccurs="0" name="editedTeapot" nillable="true" type="q4:Teapot" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditTeapotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditTeapotResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>